/*#password-form > input,
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

.section section {
    margin-bottom: 40px;
}

.section {
    margin-top: 60px;
    padding-bottom: 20px;
}

.section:first-of-type {
    margin-top: 0px;
    margin-bottom: 0px;
}

section > p {
    font-weight: 500;
}

form h3 {
    margin-top: 0px;
    padding-top: 30px;
}

.radio label {
    padding-top: 3px;
    padding-bottom: 3px;
}

.policy-error {
    color: #A94442;
}
#desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    margin-top: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: rgba(200, 200, 200, .9);*/
}

#desktop p {
    margin-bottom: 20px;
}

#mobile {
    z-index: 1;
}

.half-opacity {
    opacity: .5;
    pointer-events: none;
    /*-webkit-filter: blur(1px);filter: blur(1px);*/
}

.next {
    height: 50px;
}

#submit {
    margin-top: 100px;
}
h2 {
    color: #286090;
}
